<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cafe.adriel.verne.presentation" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:theme="@style/AppTheme.Launcher">

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.editor.EditorActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName=".ui.main.MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
